aioconsole==0.6.1
attrs==23.1.0
Automat==22.10.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
constantly==15.1.0
hyperlink==21.0.0
idna==3.4
importlib-metadata==6.6.0
incremental==22.10.0
kademlia==2.2.2
rpcudp==4.0.2
six==1.16.0
Twisted==22.10.0
typing_extensions==4.6.3
u-msgpack-python==2.8.0
zipp==3.15.0
zope.interface==6.0
